{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="icon" type="image/png" href="{% static '/images/logo.png' %}">
    <title>Uzbek Students Association</title>
</head>
<body>
    <video autoplay loop muted plays-inline class="background-video">
      <source
        src="{% static 'videos/Uzbekistan-8K-HDR-60p1.mov' %}"
        type="video/mp4" />
    </video>

    <header>
      <img src="{% static 'images/UZSA_LOGO.png' %}" alt="Uzbek Students Association Parvoz Club" class="logo">

      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
      </label>

      <nav class="navbar">
        <a href="{% url 'index' %}" class="nav-item" style="--i: 0">Home</a>
        <a href="{% url 'events' %}" class="nav-item" style="--i: 1">Events</a>
        <a href="{% url 'contact' %}" class="nav-item" style="--i: 2">Contact</a>
        <a href="https://arizona.campusgroups.com/parvoz/club_signup" class="nav-item" style="--i: 3">Join Us</a>
      </nav>
    </header>

    <section class="content">
      <h1 id="events">Events</h1>
    </section>

    <section class="past-events">
      <div class="container">
        <h2>Opening Ceremony, Navruz & Iftar</h2>
        <div class="event">
          <div class="event-info">
            <h3>Opening Ceremony, Navruz & Iftar</h3>
            <p>Our first event was really special - it combined three celebrations into one. We kicked off our club's activities with an Opening Ceremony, welcomed the fresh start of the spring season with Navruz, and shared the warmth of community during Iftar. It was a perfect beginning, bringing everyone together to share our culture and make new friends. This event was more than just fun; it showed how much we value togetherness and our cultural roots.</p>
            <span class="event-date">March 21, 2024</span>
          </div>

          <div class="event-images">
            <img src="{% static 'images/event1_image1.jpeg' %}" alt="First image" />
            <img src="{% static 'images/event1_image2.jpeg' %}" alt="Second image" />
            <img src="{% static 'images/event1_image3.jpeg' %}" alt="Third image" />
            <img src="{% static 'images/event1_image4.jpeg' %}" alt="Fourth image" />
            <img src="{% static 'images/event1_image5.jpeg' %}" alt="Fifth image" />
            <img src="{% static 'images/event1_image6.jpeg' %}" alt="Sixth image" />
          </div>
        </div>
        <div class="event-video">
          <h3>Check out our video about this event:</h3>
          <video controls poster="{% static 'images/poster.jpg' %}">
            <source src="{% static 'videos/opening_ceremony_video.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <section class="maslenitsa-event">
        <div class="container">
          <h2>Maslenitsa Festival</h2>
          <div class="event">
            <div class="event-info">
              <h3>Maslenitsa Festival</h3>
              <p>The Maslenitsa Festival was a vivid celebration of the season's change, infused with the cultural richness of the Uzbek Students Association in collaboration with the Department of Russian and Slavic Studies. On this day, we joyfully marked the end of winter and welcomed the rejuvenating spirit of spring. Our gathering was a tapestry of Central Asian and Slavic traditions, where the vibrant patterns of Uzbek attire met the festive atmosphere of Maslenitsa. Each stitch of our traditional costumes narrated stories of our homeland, as we embraced the camaraderie and shared our national pride. The festival was not merely a day of merriment; it was a harmonious union of diversity, a testament to our commitment to cultural exchange. As we reveled in the festivities, it was a heartfelt reminder of the beauty in unity and the enduring warmth of our community.</p>
              <span class="event-date">April 3, 2024</span>
            </div>

            <div class="event-images">
              <img src="{% static 'images/maslenitsa1.JPG' %}" alt="First image" />
              <img src="{% static 'images/maslenitsa2.JPG' %}" alt="Second image" />
              <img src="{% static 'images/maslenitsa3.JPG' %}" alt="Third image" />
              <img src="{% static 'images/maslenitsa4.JPG' %}" alt="Fourth image" />
              <img src="{% static 'images/maslenitsa5.JPG' %}" alt="Fifth image" />
            </div>
          </div>
        </div>
      </section>  
      <h2>Guest Speaker</h2>
      <section class="guest-speaker">
        <div class="container">
          <div class="speaker-profile">
            <img src="{% static 'images/behzodaka2.JPG' %}" alt="Guest Speaker" class="speaker-image">
            <div class="speaker-info">
              <h3>Guest Speaker: Bekhzod Khoshimov</h3>
              <p>Bekhzod Khoshimov, a Postdoctoral Fellow at the Wisconsin Institute of Discovery at UW-Madison, captivated the audience with his enlightening speech titled "The Role of Attitudes Towards Markets, Entrepreneurship, and Democracy: The Public vs. Bureaucrats." His articulate presentation shed light on the intricate dynamics between public perceptions and bureaucratic frameworks, offering valuable insights into the interconnectedness of these spheres. Mr. Khoshimov's expertise and passion for the subject were evident, making the speech not only informative but also engaging and thought-provoking. The following day, amidst the serene backdrop of Mount Lemmon, students had the privilege of engaging in a lively Q&A session with Khoshimov, further enriching their understanding and providing a memorable learning experience. The combination of academic discourse and outdoor adventure created a unique and enriching experience, leaving a lasting impression on all involved.</p>
              <span class="event-date">April 12-13, 2024</span>
            </div>

            <div class="event-images">
              <img src="{% static 'images/guest-speaker-image1.jpeg' %}" alt="First image" />
              <img src="{% static 'images/guest-speaker-image2.jpeg' %}" alt="Second image" />
              <img src="{% static 'images/guest-speaker-image3.jpeg' %}" alt="Third image" />
            </div>
          </div>
        </div>
      </section>
    </section>

  </body>
  <footer class="site-footer">
    <div class="social-media-links">
      <a href="https://www.instagram.com/uzsa_us?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="social-media-link">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://t.me/uzsa_us" target="_blank" class="social-media-link">
        <i class="fab fa-telegram-plane"></i>
      </a>
      <a href="tel:+15206460493" class="social-media-link">
        <i class="fas fa-phone"></i>
      </a>
    </div>
    <div class="footer-content">
      <p>&copy; 2024 University of Arizona Uzbek Students Association. All rights reserved.</p>
      <p>Contact us at <a href="mailto:uzbekstudentsassociation@gmail.com">uzbekstudentsassociation@gmail.com</a></p>
    </div>
  </footer>

</html>